<div class="d-flex align-items-center h-100">
	<div class="container text-center">
		<div id="app">
			<div>
	  			<span class="h3 mb-3">\{{ hl }}</span> &nbsp;&nbsp;
				<button :disabled="wifiloading" class="btn btn-primary" v-on:click="getWifiScan()"><i class="material-icons btn-ico">wifi_protected_setup</i> Refresh</button>
			</div>
			
			<div class="mt-1">
				<div v-if="wifiActive.loaded" class="text-primary text-uppercase bold">
					<strong>\{{ wifiActive.ssid }}</strong> - \{{ wifiActive.ip_address }}
				</div>
			</div>
			<hr>
			<div class="d-flex justify-content-center">
				
			</div>

	  		<div v-if="error" v-bind:class="{ 'alert alert-danger' : error }">
				\{{wifiData}}
			</div>
			<div v-else>
				<div v-if="wifiloading">
					<img src="/static/img/loader.gif" />
				</div>
				<div v-else>
					<div class="d-flex justify-content-between" v-for="item in wifiData" :key="item.mac"> 
						<span>\{{item.essid}}</span>  
						<span class="badge bg-info">\{{range(item.quality)}}</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>	
